motor~=2.5.1
PyJWT~=2.4.0
bcrypt
uvicorn~=0.17.6
pymongo~=3.12.3
fastapi~=0.88.0
pymongo[srv]
pydantic[email,dotenv]~=1.9.0
passlib~=1.7.4
requests~=2.28.1
pandas~=1.5.2
fastapi-pagination

beanie~=1.10.8
deta
python-multipart
fastapi_mail

starlette